:root {
	font-size: 15px;
}

html::-webkit-scrollbar {
	width: 0.6em;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: #60a5fa;
	border: 1px solid #fff;
	border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
	background: #3b93ff;
}

@supports (scrollbar-color: white black) {
	* {
		scrollbar-color: #8c9197 #fff;
		scrollbar-width: thin;
	}
}

body.not-found {
	background-color: #60a5fa;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
body div,
caption,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
	background: 0 0;
	border: 0 solid;
	font-size: 100%;
	font-weight: 400;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article,
aside,
details,
figure,
footer,
header,
nav,
section,
summary {
	display: block;
}

.page {
	background-color: #f7f8fc;
}

.section,
section {
	padding: 40px 30px;
	position: relative;
}

.rtl {
	direction: rtl;
}

.card {
	--bg-opacity: 1;
	--text-opacity: 1;
	background-color: rgba(255, 255, 255, var(--bg-opacity));
	border-color: rgba(120, 144, 156, 0.15);
	border-radius: 0.9rem;
	border-width: 1px;
	color: rgba(34, 41, 47, var(--text-opacity));
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	width: 345px;
}

.input {
	height: 42px;
	max-width: 100%;
	width: 100%;
}

.textarea {
	display: block;
	line-height: 1.2;
	max-height: 600px;
	max-width: 100%;
	min-width: 100%;
	padding: 10px;
	resize: vertical;
}

.input,
.textarea {
	align-items: center;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	border-radius: 0;
	box-shadow: none;
	color: #22292f;
	display: inline-flex;
	font-size: 16px;
	height: 32px;
	justify-content: flex-start;
	line-height: 24px;
	outline: 0;
	padding: 0 15px;
	position: relative;
	vertical-align: top;
}

.input.is-minimal,
.textarea.is-minimal {
	--tw-border-opacity: 1;
	background: 0 0;
	border: none;
	border-bottom: 1px solid;
	border-color: rgba(246, 246, 246, var(--tw-border-opacity));
	padding-left: 0;
	padding-right: 0;
}

.control:not(:last-child) {
	margin-bottom: 1.3em;
}

.plan {
	border: 1px solid rgba(36, 37, 38, 0.08);
	max-width: 437px;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 1s ease;
}

.inherits-color {
	color: inherit;
}

.generic-content a {
	font-weight: 700;
}
.series-banner .generic-content a {
	color: inherit;
}
.generic-content p {
	margin-bottom: 20px;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	color: #22292f;
	line-height: 1.125;
	margin-bottom: 20px;
}

.content blockquote:not(:last-child),
.content ol:not(:last-child),
.content p:not(:last-child),
.content ul:not(:last-child) {
	margin-bottom: 1em;
}
.content ol,
.content ul {
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1em;
}
.content ol {
	list-style: decimal outside;
}

.content ul {
	list-style: disc outside;
}

.content li + li {
	margin-top: 0.25em;
}

pre,
pre code {
	background-color: #f5f7fa;
	color: #4d545d;
}
pre {
	word-wrap: normal;
	white-space: pre;
}

.sr-only {
	clip: rect(0, 0, 0, 0);
	border-width: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}

.button {
	--text-opacity: 1;
	border-color: currentColor;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	color: rgba(34, 41, 47, var(--text-opacity));
	display: block;
	font-size: 0.834rem;
	font-weight: 600;
	line-height: 1;
	max-width: 30rem;
	padding: 1.25rem 1rem;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition-duration: 0.15s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.is-active,
.button:hover {
	--text-opacity: 1;
	border-color: currentColor;
	color: rgba(50, 138, 241, var(--text-opacity));
}

.blue-button,
.primary-button {
	--border-opacity: 1;
	--bg-opacity: 1;
	--text-opacity: 1;
	background-color: rgba(50, 138, 241, var(--bg-opacity));
	border-color: rgba(50, 138, 241, var(--border-opacity));
	color: rgba(255, 255, 255, var(--text-opacity));
}

.blue-button:not([disabled]):hover,
.primary-button:not([disabled]):hover {
	--border-opacity: 1;
	--bg-opacity: 1;
	--text-opacity: 1;
	background-color: rgba(39, 121, 189, var(--bg-opacity));
	border-color: rgba(50, 138, 241, var(--border-opacity));
	box-shadow: 0 0 10px rgb(0 0 0 / 25%);
	color: rgba(255, 255, 255, var(--text-opacity));
}

.gray-button {
	--text-opacity: 1;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: transparent;
	color: rgba(34, 41, 47, var(--text-opacity));
}

.fliped {
	transform: scaleX(-1);
}

.clamp {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
}

.one-line {
	-webkit-line-clamp: 1;
}

.two-lines {
	-webkit-line-clamp: 2;
}

.three-lines {
	-webkit-line-clamp: 3;
}

.four-lines {
	-webkit-line-clamp: 4;
}

.five-lines {
	-webkit-line-clamp: 5;
}

/* * Media queries */
@media (min-width: 768px) {
	.button {
		display: inline-block;
		padding-bottom: 0.75rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-top: 0.75rem;
	}
}

@media (min-width: 992px) {
	.button {
		max-width: 100%;
		padding-bottom: 0.83rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 0.83rem;
		transition: background 0.3s, border-color 0.2s;
	}
}

@media (min-width: 1200px) {
}

/* * Animations */
@-webkit-keyframes wrap {
	0% {
		background-color: transparent;
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@keyframes wrap {
	0% {
		background-color: transparent;
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@-webkit-keyframes left {
	0% {
		width: 0;
	}
	to {
		width: 6px;
	}
}
@keyframes left {
	0% {
		width: 0;
	}
	to {
		width: 6px;
	}
}
@-webkit-keyframes right {
	0% {
		width: 0;
	}
	to {
		width: 10px;
	}
}
@keyframes right {
	0% {
		width: 0;
	}
	to {
		width: 10px;
	}
}
